# general python libraries
distribute
args
setproctitle
pyinotify
ipython
pytz
PIL

# html/xml parsing
ua-parser
lxml
BeautifulSoup
html5lib
slimit
pyyaml
pyquery
requests

# sphinx docs
docutils
sphinx
sphinx_rtd_theme
pygments
sphinxcontrib-email

# memcached
pylibmc

# postgresql
psycopg2

# celery
pyrabbit
celery

# django
django
south
gunicorn
django-appconf
django-compressor
django-cacheback
django-user-accounts
django-admin-tools
django-debug-toolbar
django-debug-toolbar-template-timings
django-dtpanel-htmltidy
django-memcache-status
django-cache-panel
django-simple-captcha
django-extensions
django-storages
django-forms-bootstrap

# scientific computing (base libraries)
cython
numpy
scipy

# needed by matplotlib
tornado
